<div >
	Bus Schedule
    
    <table st-table="data" class="bus-schedule-table" border=1>
    	<thead>
    		<tr>
    			<td>Bus Number</td>
    			<td>Arrivals Time</td>
    			<td>Arrivals Status</td>
                <td>Location</td>
                <td>Destination</td>
    		</tr>
    	</thead>
	    <tr ng-repeat="time in data">
		    <td>{{time.busNumber}}</td>
		    <td>{{time.arrivalsTime}}</td>
	        <td>{{time.arrivalsStatus}}</td>
            <td>{{time.location}}</td>,
            <td>{{time.destination}}</td>
	    </tr>
    </table>
</div>